.topic_list_group {
  float: inline-end;
  font-size: small;
  text-align: right;
}

.btn-sm {
  font-size: .8rem;
}

.webix_comments_message img {
    max-width:500px;
}

/* Colors */

body {
    color: #212529;
}

.bg-dark {
    background-color: #343a40 !important;
}
.btn-dark {
    color: #fff;
    background-color: #343a40;
    border-color: #343a40;
}
.btn-dark:hover {
    color: #fff;
    background-color: #23272b;
    border-color: #1d2124;
}
a:hover {
    color: #0056b3;
    text-decoration: underline;
}
a {
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
}

.vote_button, .vote_button h3 {
    color: #007bff;
}

.btn-primary {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

.btn-primary:hover {
    color: #fff;
    background-color: #0069d9;
    border-color: #0062cc;
}

.badge-secondary {
    color: #fff;
    background-color: #6c757d;
}

a.badge-secondary:focus, a.badge-secondary:hover {
    color: #fff;
    background-color: #545b62;
}
