{% extends 'vote/base.html' %}

{% load i18n %}
{% load vote_tags %}

{% block title %} | {% trans 'Admin' %}{% endblock title %}

{% block body %}
<div id="group_list" class="mt-4">
  {% csrf_token %}
</div>
{% endblock body %}

{% block sidebar_extra %}
  <div class="my-4 p-3 bg-white rounded shadow-sm" >
    <h5>{% trans 'Admin' %}</h5>
    <hr>
    <div id="control_buttons"></div>
  </div>
{% endblock sidebar_extra %}

{% block extrajs %}
<script>
  webix.attachEvent("onBeforeAjax", function(mode, url, data, xhr, headers){
		var key = document.querySelector("[name=csrfmiddlewaretoken]").value;
		headers["X-CSRFToken"] = key;
	});
  var grid = {
    view:"datatable", id:"datatable1",
    columns:[
      { id:"title", editor:"text", header:"{% trans 'Title' %}", width:170},
      { id:"desc", editor:"popup", header:"{% trans 'Description' %}", width:270},
      {% if request.user|check_role:'can_delete_group' %}
        { id:"delete", header:"{% trans 'Delete' %}", width:60,
          template:function(obj){
            return "<div class='webix_el_button'><button class='webixtype_base btn btn-danger btn-sm text-center'>Del</button></div>";
          }
        }
      {% endif %}
    ],
    
    onClick:{
      webixtype_base:function(ev, id, html){
        webix.confirm({
            title: "Delete",
            text: "Are you sure you want to delete the selected item?",
            callback: function(result) { 
                if (result) {
                  $$("datatable1").remove(id);
                } 
            }
        });
      }
    },

    select:true,
    autoheight:true,
    autowidth:true,
    data: [
      {% for group in groups %}
        { id:{{ group.pk }}, title:"{{ group.title }}", desc:"{{ group.desc }}" },
      {% endfor %}
    ],
    save: {
      'update':function(view, params, dp){
        webix.ajax().post("/group/"+dp.id+"/edit/",{ title:dp.title, desc:dp.desc });
      },
      'insert':function(view, params, dp){
        webix.ajax().post("{% url 'vote:group_create' %}",{ title:dp.title, desc:dp.desc });
      },
      'delete':function(view, params, dp){
        webix.ajax().post("/group/"+dp.id+"/delete/");
      }
    },
    on: {
      onSelectChange: function(){
       var group = this.getSelectedItem();
       $$('topic').filter(function(obj){
        return obj.group == group.title;
      });
     }
    }
  };

var form = {
  view:"form", id:"form1", scroll:false,
  elements:[
    { view:"text", name:"title", label:"{% trans 'Title' %}" },
    { view:"textarea", name:"desc", label:"{% trans 'Desc' %}" },
    
    {% if request.user|check_role:"can_edit_group" or request.user|check_role:"can_create_group" %}
      { view:"button", value:"{% trans 'Save' %}", click:'$$("form1").save()' },
    {% endif %}

    {% if request.user|check_role:"can_create_group" %}
      { view:"button", value:"{% trans 'Create New' %}", click:'groupButtonClick' },
    {% endif %}
  ],
};

  var topic = {
    view:"datatable",
    id:"topic",
    xCount: 1,
    template:"#title#",
    height:400,
    type: {
      width:"auto",
      height:"auto",
    },
    columns:[
      { id:"vote", header:"{% trans 'Votes' %}", width:50 },
      { id:"title", editor:"text", header:"{% trans 'Title' %}", width:170},
      { id:"desc", editor:"text", header:"{% trans 'Description' %}", fillspace:true},
      { id:"group", editor:"text", header:"{% trans 'Group' %}", autosize:true},
    ],
    data: [
      {% for topic in topics %}
      {
        "title":"{{ topic.title }}", 
        "vote":{{ topic.vote_count }},
        "group":'{{ topic.group }}',
        "desc":"{{ topic.desc|escapejs }}",
      },
      {% endfor %}
    ]
  };

webix.ready(function(){
  webix.ui({
    container:'group_list',
    rows:[
      {type:"wide", height:27, cols:[ { template:"<b>Group List</b>", width:500 }, { template:"<b>Group Form</b>" } ]},
      {type:"wide", cols:[ grid, form ]},
      { template:"<b>Topic List Filtered By Group</b>", height:27 },
      topic,
    ]
  });
  $$('form1').bind('datatable1')
});

function groupButtonClick(){
  $$('datatable1').unselectAll();
  $$('form1').focus();
};

var season_switch = {
  id:"season_switch",
  view: "switch",
  label: "{% trans 'Voting' %}:",
  onLabel: "{% trans 'Active' %}",
  offLabel:"{% trans 'Inactive' %}",
  {% get_season_active as season_active %}
  {% if season_active %}
    value: 1,
  {% else %}
    value: 0,
  {% endif %}
  {% if not request.user|check_role:'can_control_season' %}
    disabled: true,
  {% endif %}
  click:function(){
    webix.confirm({
      title: "Approve",
      text: "{% trans 'Are you sure you want to change voting settings?' %}",
      callback: function(result) { 
        if (result) {
          webix.ajax().post("{% url 'vote:season_update' %}");
          webix.message("{% trans 'Voting settings changed successfuly' %}");
        } else {
          $$('season_switch').toggle()  
        } 
      }
    });
  }
};

var topic_create_btn = {
  view:"button",
  id:"topic_create_btn", 
  value:"{% trans 'Create a Topic' %}", 
  css:"webix_primary", 
  click:function(){
    window.location = "{% url 'vote:topic_create' %}";
  }
};

var group_create_btn = {
  view:"button",
  id:"group_create_btn", 
  value:"{% trans 'Create a Group' %}", 
  css:"webix_primary", 
  click:groupButtonClick,
};

webix.ui({
  container:"control_buttons",
  rows:[
    {% if request.user|check_role:"can_control_season" %}
      season_switch,
    {% endif %}
    {% if request.user|check_role:"can_create_topic" %}
      topic_create_btn,
    {% endif %}
    {% if request.user|check_role:"can_create_group" %}
      group_create_btn,
    {% endif %}
  ]
});
</script>
{% endblock %}
