{% load static %}
{% load i18n %}
{% load vote_tags %}

{% get_current_language as LANGUAGE_CODE %}

<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
    <head>
  <head>
    <meta charset="utf-8">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>UserVoice{% block title %}{% endblock title %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="//cdn.webix.com/edge/webix.css" type="text/css"> 
    <script src="//cdn.webix.com/edge/webix.js" type="text/javascript"></script>
    <link href={% static 'vote/style.css' %} rel="stylesheet">
  </head>
  <body>
    <nav class="container-fluid navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="/">UserVoice</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="/">{% trans 'Topic List' %}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'vote:approved_topics' %}">{% trans 'Approved Topics' %}</a>
          </li>

        </ul>

        <div class="navbar-collapse collapse order-3 dual-collapse2">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'vote:user_history' %}">{% trans 'User History' %}</a>
            </li>
            
            {% if request.user|is_admin %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'vote:admin' %}">{% trans 'Admin Panel' %}</a>
            </li>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>

    <main role="main" class="container">
      <div class="row">
        <div class="col-lg-9">
          {% block body %}
          {% endblock body %}
        </div>
        <div class="col-lg-3">
          
          {% block sidebar_extra %}
          {% endblock sidebar_extra %}

          <div class="my-4 p-3 bg-white rounded shadow-sm" >
            <h5>{% trans 'User' %}</h5>
            <hr>
            <h6>{{ user.get_full_name }}</h6>
            <p class="small">
            {% trans 'Department' %}: <b>{{ request.user|get_department }}</b> <br>
              {% trans 'Votes Used' %}: <b>{{ request.user.topicvote_vote.count }}</b> <br>
              {% trans 'Votes Left' %}: <b>{{ request.user|get_remaining_votes }}</b> <br>
            </p>
          </div>
          
          <div class="my-4 p-3 bg-white rounded shadow-sm" >
            <div class="card" style="border:0">
              <div class="card-bvody">
              <h5 class="card-title">{% trans 'Groups' %}</h5>
              {% get_groups as groups %}
              {% for group in groups %}
                  <a href="{% url 'vote:group' group.pk %}" class="badge badge-secondary">{{ group.title }}</a>
              {% endfor %}
              </div>
          </div>

        </div>
      </div>
    </main>

    <footer>
      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
      {% block extrajs %}
      {% endblock extrajs %}
    </footer>
  </body>
</html>

