{% extends 'vote/base.html' %}

{% load i18n %}

{% block title %} | {% trans 'Create Group' %}{% endblock title %}

{% block body %}
<div class="container mt-4">
  <form method="post">
    {% csrf_token %}
    <div class="form-group row">
      <label class="col-sm-2 col-form-label" for="id_title">{% trans 'Title' %}</label>
      <div class="col-sm-10">
        <input class="form-control" type="text" class="form-control" id="id_title" name="title" value="{% if form.title.value %}{{ form.title.value }}{% endif %}">
      </div>
    </div>

    <div class="form-group row">
      <label class="col-sm-2 col-form-label" for="id_desc">{% trans 'Topic Description' %}</label>
      <div class="col-sm-10">
        <textarea class="form-control" class="form-control" id="id_desc" name="desc" rows="2">Ğ{% if form.desc.value %}{{ form.desc.value }}{% endif %}</textarea>
      </div>
    </div>

    <button type="submit" class="btn btn-primary mb-2">{% trans 'Send' %}</button>
  </form>
</div>
{% endblock body %}
