{% extends 'vote/base.html' %}

{% load i18n %}
{% load vote_tags %}

{% block title %} |
  {% url 'vote:approved_topics' as approved_topics_url %}
  {% url 'vote:user_history' as user_history_url %}
  {% if request.path == approved_topics_url %}
    {% trans 'Approved Topics' %}
  {% elif request.path == user_history_url %}
    {% trans 'User History' %}
  {% elif group %}
    {% trans 'Group' %}: {{ group.title  }}
  {% endif %}
{% endblock title %}

{% block body %}
  {% url 'vote:approved_topics' as approved_topics_url %}
  {% url 'vote:user_history' as user_history_url %}
  <div class="my-4 p-3 bg-white rounded shadow-sm" >
    {% if request.path == approved_topics_url %}
      <h3>{% trans 'Approved Topics' %}</h3>
      <hr>
    {% elif request.path == user_history_url %}
      <h3>{% trans 'User History' %}</h3>
      <hr>
    {% endif %}

    {% if group %}
      <h3>{{ group.title }}</h3>
      <hr>
    {% endif %}
    <div id="topic_list" style="height:100vh">
    </div>
    {% get_season_active as season_active %}
    <textarea id="template_container" hidden="">
      <div class='media text-muted pt-3'>
        
        <div class='vote_button'>
          {% if season_active %}
            <a href="#vote_url#" role="button" aria-pressed="true">
          {% else %}
            <a href="#" class="" role="button" aria-pressed="true">
          {% endif %}
            <h3>
              <i class="fa fa-thumbs-o-up#is_voted#" aria-hidden="true"></i>
            </h3>
          </a>
          <h5 class="text-center">#vote_count#</h5>
        </div>

        <div class='col-sm-12'>
          <p class='media-body pb-3 mb-0 small lh-125 border-bottom border-gray' style='padding-right:10px;'>
          <a class='topic_list_group' href='#group_url#'>#group#</a>
          <strong class='d-block text-gray-dark'>
            <a href='#url#'>#title#</a>
          </strong>
          #desc#
          </p>
          <small>#date# <b>-</b> <a href='#url##comments'>#comment_count#</a></small>
        </div>
      </div>
    </textarea>
    
  </div>
{% endblock body %}

{% block extrajs %}
<script>
  var sort_type = 'id_desc'

  function sortId(){
    if (sort_type == 'id_asc') {
      $$("data").sort("#pk#", "desc");
      sort_type = 'id_desc'
    } else {
      $$("data").sort("#pk#", "asc");
      sort_type = 'id_asc'
    } 
  }

  function sortTitle(){
    if (sort_type == 'title_asc') {
      $$("data").sort("#title#", "desc");
      sort_type = 'title_desc'
    } else {
      $$("data").sort("#title#", "asc");
      sort_type = 'title_asc'
    } 
  }
  
  function sortDate(){
    if (sort_type == 'date_asc') {
      $$("data").sort("#date#", "desc");
      sort_type = 'date_desc'
    } else {
      $$("data").sort("#date#", "asc");
      sort_type = 'date_asc'
    } 
  }
  
  function sortVote(){
    if (sort_type == 'vote_asc') {
      $$("data").sort("#vote_count#", "desc");
      sort_type = 'vote_desc'
    } else {
      $$("data").sort("#vote_count#", "asc");
      sort_type = 'vote_asc'
    } 
  }

  var data = {
    view:"dataview",
    id:"data",
    xCount: 1,
    borderless:true,
    type: {
      width:"auto",
      height:"auto",
      template:"html->template_container",
    },
    data: [
      {% for topic in object_list %}
      {
        "id":{{ topic.pk }}, "title":"{{ topic.title }}", "date":"{{ topic.date|date }}", "url":"{{ topic.get_absolute_url }}",
        "desc":"{{ topic.desc|escapejs }}", "group":'{{ topic.group }}', "group_url":"{{ topic.group.get_absolute_url }}",
        "comment_count":"{{ topic.comment.count }} {% blocktrans count count=topic.comments.count %}{{ count }} Comment{% plural %}{{ count }} Comments{% endblocktrans %}",
        "vote_url":"{% url 'vote:topic_vote' topic.slug %}?redirect={{ request.path }}",
        "vote_count":"{{ topic.vote_count }}",
        "is_voted":"{% for vote in topic.vote.all %}{% if vote.user == request.user %} fa-thumbs-up{% endif %}{% endfor %}"
      },
      {% endfor %}
    ]
  };

  var title_button = { view:"button", autowidth:true, value:"Sort by title", click:sortTitle };
  var id_button = { view:"button", autowidth:true, value:"Sort by id", click:sortTitle };
  var vote_button = { view:"button", autowidth:true, value:"Sort by vote", click:sortTitle };
  var date_button = { view:"button", autowidth:true, value:"Sort by date", click:sortTitle };
  var topic_count = { view:"button", autowidth:true, css:"webix_transparent", value:"Topic count: <b>{{ object_list.count }}" };
  
  webix.ready(function(){
    webix.ui({
      container:'topic_list',
      type:"clean",
      width:800,
      rows:[
        {height:40, cols:[title_button, id_button, vote_button, date_button, topic_count]},
        data,
      ]
    });
  });
</script>
{% endblock extrajs %}
