{% extends 'vote/base.html' %}

{% load i18n %}
{% load static %}
{% load vote_tags %}

{% block title %}
| {% trans 'Topic' %}: {{ topic.title }}
{% endblock title %}

{% block body %}
  <div class="media text-muted pt-3">
    {% include 'vote/partial/vote_button.html' %}
    <div class="media-body ml-3 pb-3 mb-0 lh-125">
      <h3 class="d-block text-gray-dark">{{ topic.title }}</h3>
      <p>
      {{ topic.body|safe }}
      </p>
      {% for i in topic.image.all %}
        <a href="{{ i.image.url }}" target="_Blank">
          <img class="img-fluid" src="{{ i.image.url }}" style="height:150px;width:150px;object-fit:cover" >
        </a>
      {% endfor %}
      {% if object.file.all %}
      <h5 class="mt-2">{% trans 'Files' %}</h5>
        <ul class="list-inline">
          {% for file in object.file.all %}
          <li>
            <a href="{{ file.file.url }}">{{ file.title }}</a>
          </li>
          {% endfor %}
        </ul>
      {% endif %}
      <hr>
      <div id="comment_list" style="height:40vh">
          {% csrf_token %}
      </div>
      {% if not request.user|check_role:"can_comment" or not topic.can_comment %}
      {% else %}
        <form method="post" action="{% url 'vote:comment' %}">
          {% csrf_token %}
          <input type="hidden" id="id_topic" name="topic" value="{{ topic.pk }}">
          <input type="hidden" id="id_user" name="user" value="{{ request.user.pk }}">
          <input type="hidden" id="id_parent" name="parent" value="">
          <div class="form-group">
            <textarea class="form-control" id="id_body" name="body" rows="3"></textarea>
          </div>
          <button type="submit" class="btn btn-primary mb-2">{% trans 'Send' %}</button>
        </form>
        <script src="{% static 'vote/jquery.formset.js' %}"></script>
        <script src='https://cdn.tiny.cloud/1/{% get_tinymce_key %}/tinymce/5/tinymce.min.js' referrerpolicy="origin"></script>
        <script>
        tinymce.init({
          selector: 'textarea',
          branding: false,
          menubar: false,
        });
        </script>
      {% endif %}

    </div>
  </div>
{% endblock body %}

{% block sidebar_extra %}
{% if request.user|is_admin %}
  <div class="my-4 p-3 bg-white rounded shadow-sm">
    <h5>{% trans 'Topic Control' %}</h5>
    <hr>
    <div id="control_buttons">
    </div>
  </div>
{% endif %}
{% endblock sidebar_extra %}

{% block extrajs %}
<script>
  webix.attachEvent("onBeforeAjax", function(mode, url, data, xhr, headers){
		var key = document.querySelector("[name=csrfmiddlewaretoken]").value;
		headers["X-CSRFToken"] = key;
	});
  webix.ui({   
    view:"comments",
    id:"comments",
    container:"comment_list",
    height:"400",
    currentUser:{{ request.user.id }},
    data:[
      {% for comment in topic.comment.all %}
        {
          id:{{ comment.id }}, user_id:{{ comment.user.id }}, date:"{{ comment.date|date:'Y-m-j G:i' }}",
            text:"{{ comment.body|escapejs }}"
        },
      {% endfor %}
    ],
    users:[
      {% for user in users %}
      { id:{{ user.id }}, value:"{{ user.get_full_name }}", image: "{{ user|get_avatar }}" },
      {% endfor %}
    ],
    save:function(view, params, dp){
      webix.ajax().post("{% url 'vote:comment' %}",{ body:dp.text, user:dp.user_id, topic:{{ topic.pk }} });
    },
    readonly:true,
  });
  
  var edit_btn = {
    view:"button",
    id:"edit_btn", 
    value:"{% trans 'Edit This Topic' %}", 
    css:"webix_primary", 
    click:function(){
      window.location = "{% url 'vote:topic_edit' topic.slug %}";
    }
  };

  var delete_btn = {
    view:"button",
    id:"delete_btn", 
    value:"{% trans 'Delete This Topic' %}", 
    css:"webix_danger", 
    click:function(){
      webix.confirm({
        title: "Delete",
        text: "{% trans 'Are you sure you want to delete this topic?' %}",
        callback: function(result) { 
          if (result) {
            window.location = "{% url 'vote:topic_delete' topic.slug %}";
          } 
        }
      });
    }
  };

  var approve_btn = {
    view: "switch",
    id:"approve_btn",
    label: "{% trans 'Is Approved?' %}:",
    labelWidth:165,
    {% if topic.approved %}value: 1,{% else %}value: 0,{% endif %}
    {% if not request.user|check_role:'can_approve_topic' %}
      disabled: true,
    {% endif %}
    click:function(){
      webix.confirm({
        title: "Approve",
        text: "{% trans 'Are you sure you want to approve/disapprove this topic?' %}",
        callback: function(result) { 
          if (result) {
            webix.ajax().post("{% url 'vote:topic_approve' topic.slug %}");
            webix.message("{% trans 'Approval status changed successfuly' %}");
          } else {
            $$('approve_btn').toggle()  
          } 
        }
      });
    }
  };

  var toggle_comment_btn = {
    view: "switch",
    id:"toggle_comment_btn",
    label: "{% trans 'Can Comment?' %}:",
    labelWidth:165,
    {% if topic.can_comment %}value: 1,{% else %}value: 0,{% endif %}
    {% if not request.user|check_role:'can_approve_topic' %}
      disabled: true,
    {% endif %}
    click:function(){
      webix.confirm({
        title: "Approve",
        text: "{% trans 'Are you sure you want to activate/inactivate comments for this topic?' %}",
        callback: function(result) { 
          if (result) {
            webix.ajax().post("{% url 'vote:topic_toggle_comment' topic.slug %}");
            webix.message("{% trans 'Comment status changed successfuly' %}");
            location.reload(); 
          } else {
            $$('toggle_comment_btn').toggle()
          }
        }
      });
    }
  };
  
  webix.ui({
    container:"control_buttons",
    rows:[
      {% if request.user|check_role:"can_approve_topic" %}
        approve_btn,
        toggle_comment_btn,
      {% endif %}
      {% if request.user|check_role:"can_edit_topic" %}
        edit_btn,
      {% endif %}
      {% if request.user|check_role:"can_delete_topic" %}
        delete_btn,
      {% endif %}
    ]
  });
</script>
{% endblock extrajs %}
