{% extends 'vote/base.html' %}

{% load static %}
{% load vote_tags %}
{% load i18n %}

{% block title %} | {% if topic %}{% trans 'Edit Topic' %}{% else %}{% trans 'Create Topic' %}{% endif %}{% endblock title %}

{% block body %}
<div class="container mt-4">
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    
    <div class="row">
      {{ form.title.errors }}
      <div class="form-group row col-md-10">
        <label class="col-sm-2 col-form-label" for="id_title">{% trans 'Title' %}</label>
        <div class="col-sm-10" style="padding-left: 2.35em;">
          <input class="form-control" type="text" class="form-control" id="id_title" name="title" {% if form.title.value %}value="{{ form.title.value }}"{% endif %}>
        </div>
      </div>

      <div class="form-group row col-md-2 pr-0">
          <button type="submit" class="btn btn-primary btn-block">{% trans 'Send' %}</button>
      </div>

      {{ form.group.errors }}
      <div class="form-group row col-md-12">
        <label class="col-sm-2 col-form-label" for="id_group">{% trans 'Group' %}</label>
        <div class="col-sm-10">
          {{ form.group }}
        </div>
      </div>
    
      {{ form.desc.errors }}
      <div class="form-group row col-md-12">
        <label class="col-sm-2 col-form-label" for="id_desc">{% trans 'Topic Description' %}</label>
        <div class="col-sm-10">
          <textarea class="form-control" class="form-control" id="id_desc" maxlength="512" name="desc" rows="1">{% if form.desc.value %}{{ form.desc.value }}{% endif %}</textarea>
        </div>
      </div>

      {{ form.body.errors }}
      <div class="form-group row col-md-12">
        <label class="col-sm-2 col-form-label" for="id_body">{% trans 'Topic Body' %}</label>
        <div class="col-sm-10">
          <textarea class="form-control" class="form-control" id="id_body" name="body" rows="16">{% if form.body.value %}{{ form.body.value }}{% endif %}</textarea>
        </div>
      </div>
      <fieldset class="col-md-6">
        {{ file_formset.management_form }}
        {{ file_formset.non_form_errors }}
        <div id="file_uploader_container" style="width: 100%; height: 200px"></div>
      </fieldset>
      <fieldset class="col-md-6">
        {{ image_formset.management_form }}
        {{ image_formset.non_form_errors }}
        <div id="image_uploader_container" style="width: 100%; height: 200px"></div>
      </fieldset>
    </div>
  </form>
</div>
{% endblock body %}

{% block extrajs %}
<script src="{% static 'vote/jquery.formset.js' %}"></script>
<script src='https://cdn.tiny.cloud/1/{% get_tinymce_key %}/tinymce/5/tinymce.min.js' referrerpolicy="origin"></script>
<script>
tinymce.init({
  selector: '#id_body',
  branding: false
});
</script>
<script>
  webix.attachEvent("onBeforeAjax", function(mode, url, data, xhr, headers){
		var key = document.querySelector("[name=csrfmiddlewaretoken]").value;
		headers["X-CSRFToken"] = key;
	});

webix.ready(function() {
  webix.ui({
    container:"file_uploader_container",
    view:"form", rows: [
      { 
        view: "uploader", value: 'Upload file', 
        id:"files", name:"files",
        link:"filelist",  upload:"{% url 'vote:upload' 'file' %}" 
      },
      {
        view:"list",  id:"filelist", type:"uploader",
        autoheight:true, borderless:true,
        type:{
          height:70
        },
        template:function (obj) {
          if (typeof obj.fs_id !== 'undefined' || obj.fs_id === null) {
            var fs_id = obj.fs_id;
          } else {
            var fs_id = $$("filelist").getVisibleCount() - 1;
          }
        return '<input type="hidden" name="file-' + fs_id + '-id" value="' + obj.pk + '" id="id_file-' + fs_id + '-id">' +
          '<input type="text" style="width:94%; height:30px" id="id_file-' + fs_id + '-title" name="file-' + fs_id + '-title" placeholder="{% trans 'Please Enter a Title' %}" value="' + obj.title + '">' +
            '<input type="hidden" name="file-' + fs_id + '-topic" {% if topic.pk %}value="{{ topic.pk }}" {% endif %}id="id_file-' + fs_id + '-topic">' + 
          '<div class="remove_file" style="display:inline"><span style="color:#AAA;float: right;" class="cancel_icon"></span></div>' +
          '<p><small>' + obj.name + '</small></p>'
        }
      },
    ]
  });
  $$("files").files.parse([
    {% for file in topic.file.all %}
    { fs_id: '{{ forloop.counter0 }}', pk: '{{ file.pk }}', title: '{% if file.title %}{{ file.title }}{% endif %}', name: '{{ file.file.name}}' },
    {% endfor %}
  ]);

  webix.ui({
    container:"image_uploader_container",
    view:"form", rows: [
      { 
        view: "uploader", value: 'Upload image', 
        id:"images", name:"images",
        link:"imagelist",  upload:"{% url 'vote:upload' 'image' %}" 
      },
      {
        view:"list",  id:"imagelist", type:"uploader",
        autoheight:true, borderless:true,
        type:{
          height:70
        },
        template:function (obj) {
          if (typeof obj.fs_id !== 'undefined' || obj.fs_id === null) {
            var fs_id = obj.fs_id;
          } else {
            var fs_id = $$("imagelist").getVisibleCount() - 1;
          }
        return '<input type="hidden" name="image-' + fs_id + '-id" value="' + obj.pk + '" id="id_image-' + fs_id + '-id">' +
          '<input type="text" style="width:94%; height:30px" id="id_image-' + fs_id + '-title" name="image-' + fs_id + '-title" placeholder="{% trans 'Please Enter a Title' %}" value="' + obj.title + '">' +
            '<input type="hidden" name="image-' + fs_id + '-topic" {% if topic.pk %}value="{{ topic.pk }}" {% endif %}id="id_image-' + fs_id + '-topic">' + 
          '<div class="remove_file" style="display:inline"><span style="color:#AAA;float: right;" class="cancel_icon"></span></div>' +
          '<p><small>' + obj.name + '</small></p>'
        }
      },
    ]
  });
  $$("images").files.parse([
    {% for image in topic.image.all %}
      { fs_id: '{{ forloop.counter0 }}', pk: '{{ image.pk }}', title: '{% if image.title %}{{ image.title }}{% endif %}', name: '{{ image.image.name}}' },
    {% endfor %}
  ]);
});
</script>
<style>
.del-btn {
  position: absolute;
  right: 1rem;
}
.add-btn {
  float: inline-end;
}
</style>
<textarea id="file_template_container" hidden="">
  <input type="hidden" name="file-#id#-id" value="#id#" id="id_file-#id#-id">
  <input type="text" style="width:94%; height:30px" id="id_file-#id#-title" name="file-#id#-title" placeholder="{% trans 'Please Enter a Title' %}" value="#title#">
  <div class='remove_file' style="display:inline"><span style='color:#AAA' class='cancel_icon'></span></div>
  <p><small>#name#</small></p>
  <input type="file" hidden="" id="id_file-#id#-file" name="file-#id#-file">
</textarea>
<textarea id="image_template_container" hidden="">
  <input type="hidden" name="image-#id#-id" value="#pk#" id="id_image-#id#-id">
  <input type="text" style="width:94%; height:30px" id="id_image-#id#-title" name="image-#id#-title" placeholder="{% trans 'Please Enter a Title' %}" value="#title#">
  <div class='remove_file' style="display:inline"><span style='color:#AAA' class='cancel_icon'></span></div>
  <p><small>#name#</small></p>
  <input type="file" hidden="" id="id_image-#id#-image" name="image-#id#-image">
</textarea>
{% endblock extrajs %}
