{% load i18n %}

<form method="post" action="{% url 'vote:comment' %}">
  {% csrf_token %}
  <input type="hidden" id="id_topic" name="topic" value="{{ topic.pk }}">
  <input type="hidden" id="id_user" name="user" value="{{ request.user.pk }}">
  <input type="hidden" id="id_parent" name="parent" value="">
  <div class="form-group">
    <label for="id_body">{% trans 'Your Comment' %}</label>
    <textarea class="form-control" id="id_body" name="body" rows="3"></textarea>
  </div>
  <button type="submit" class="btn btn-primary mb-2">{% trans 'Send' %}</button>
</form>
