{% load i18n %}

<fieldset class="col-md-6">
  <legend>{% trans legend %}</legend>
  {{ formset.management_form }}
  {{ formset.non_form_errors }}
  {% for form in formset %}
    {{ form.id }}
    <div class="inline row pb-2 {{ formset.prefix }}">
      <div class="col-md-12">
        {% for field in form %}
          {% if field.name == 'file' or field.name == 'image' %}
            <div class="custom-file">
              <input type="file" class="custom-file-input" id="{{ field.id_for_label }}" name="{{ field.html_name }}">
              <label class="custom-file-label" for="{{ field.id_for_label }}">{% if field.value %}{{ field.value }}{% else %}Choose file{% endif %}</label>
            </div>
          {% elif field.name == 'title' %}
            <div class="form-group">
              <label for="{{ field.id_for_label }}">{{ field.label_tag }}</label>
              <input type="text" class="form-control" id="{{ field.id_for_label }}" name="{{ field.html_name }}" placeholder="{% trans 'Title' %}" value="{{ field.value }}">
            </div>
            {{ field.errors }}
          {% endif %}
        {% endfor %}
      </div>
    </div>
  {% endfor %}
</fieldset>
