{% load i18n %}

<div class="media text-muted pt-3">
  {% include 'vote/partial/vote_button.html' %}
  <div class="col-sm-12">
    <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
    <a class="topic_list_group" href="{{ topic.group.get_absolute_url }}">
      {{ topic.group.title }}
    </a>
    <strong class="d-block text-gray-dark">
      <a href="{{ topic.get_absolute_url }}">
        {{ topic.title }}
      </a>
    </strong>
    {{ topic.desc }}
    </p>
    <small>
      {{ topic.date|date }} <b>-</b> <a href="{{ topic.get_absolute_url }}#comments">
        {{ topic.comment.count }} {% blocktrans count count=topic.comments.count %}{{ count }} Comment{% plural %}{{ count }} Comments{% endblocktrans %}
      </a>
    </small>
  </div>
</div>
