{% load vote_tags %}

<div>
  {% get_season_active as season_active %}
  {% if season_active %}
  <a href="{% url 'vote:topic_vote' topic.slug %}?redirect={{ request.path }}" class="" role="button" aria-pressed="true">
  {% else %}
  <a href="#" class="" role="button" aria-pressed="true">
  {% endif %}
    <h3>
      <i class="fa fa-thumbs-o-up{% for vote in topic.vote.all %}{% if vote.user == request.user %} fa-thumbs-up{% endif %}{% endfor %}" aria-hidden="true"></i>
    </h3>
  </a>
  <h5 class="text-center">{{ topic.vote_count }}</h5>
</div>
